<p>product-details works!</p>

<!-- feature product -->
<div class=" main-container product-details">
    
    <div class="feature-category">
  
      <h3>Explore Categories</h3>
    
      <div class="feature ">
         
          <a href="" class="btn btn-primary">All</a>
          <a href="" class="btn btn-primary">vegetables</a>
          <a href="" class="btn btn-primary">Fruits</a>
          <a href="" class="btn btn-primary">Coffe & teas</a>
          <a href="" class="btn btn-primary">Meat</a>
      </div>
  </div><br>
  
   <div class="container-fluid d-flex">
      <div class="card fea-pro-li">
          <img src="/assets/logo.jpg" alt="">
          <div class="cart-body">
              <p class="card-text">vegitable</p>
              <p class="card-text">orange 1kg</p>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <div class="d-flex justify-content-beetween fea-pro-price">
                  <h5>$2</h5>
                  <span class="text-decoration-line-through">$3</span>
                  <a href="#" class="btn btn-primary">add</a>
              </div>
              
          </div>
      </div> 
      <div class="card fea-pro-li">
          <img src="/assets/logo.jpg" alt="">
          <div class="cart-body">
              <p class="card-text">vegitable</p>
              <p class="card-text">orange 1kg</p>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <div class="d-flex justify-content-beetween fea-pro-price">
                  <h5>$2</h5>
                  <span class="text-decoration-line-through">$3</span>
                  <a href="#" class="btn btn-primary">add</a>
              </div>
              
          </div>
      </div> 
      <div class="card fea-pro-li">
          <img src="/assets/logo.jpg" alt="">
          <div class="cart-body">
              <p class="card-text">vegitable</p>
              <p class="card-text">orange 1kg</p>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <div class="d-flex justify-content-beetween fea-pro-price">
                  <h5>$2</h5>
                  <span class="text-decoration-line-through">$3</span>
                  <a href="#" class="btn btn-primary">add</a>
              </div>
              
          </div>
      </div> 
      <div class="card fea-pro-li">
          <img src="/assets/logo.jpg" alt="">
          <div class="cart-body">
              <p class="card-text">vegitable</p>
              <p class="card-text">orange 1kg</p>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <div class="d-flex justify-content-beetween fea-pro-price">
                  <h5>$2</h5>
                  <span class="text-decoration-line-through">$3</span>
                  <a href="#" class="btn btn-primary">add</a>
              </div>
              
          </div>
      </div> 
      <div class="card fea-pro-li">
          <img src="/assets/logo.jpg" alt="">
          <div class="cart-body">
              <p class="card-text">vegitable</p>
              <p class="card-text">orange 1kg</p>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <span class="fa fa star checked"></span>
              <div class="d-flex justify-content-beetween fea-pro-price">
                  <h5>$2</h5>
                  <span class="text-decoration-line-through">$3</span>
                  <a href="#" class="btn btn-primary">add</a>
              </div>
              
          </div>
      </div> 
      
   </div>
  </div>
  
  