
// feature product.
.feature-category{
    display: flex;
    justify-content: space-between;
   
}
.btn{
    margin: 5px;
}

.margin{
    width: auto;
    margin-left: 15px;
}

.fea-pro-li{
    width: auto;
    // justify-content: space-between;
    margin: 15px;
    // border: 2px solid black;
    padding: 10px;
    // height: 300px;

}
.fea-pro-price{
    justify-content: space-between;
}
