<app-header></app-header>
<!-- button -->
<div class="call">

    <a routerLink="/front/catlog/category"><button type="button" class="btn btn-primary btn-lg" ><i class="bi bi-grid" ></i>Brows All Categories</button></a>
    <div class="call1">
        <h3><i class="bi bi-telephone" ></i>1233-7777</h3>24/7 support center
    </div>
  </div>


  <!-- explore category -->
<div class="main-cointainer category">
     
    <div class="feature-category">

        <h3>Explore Categories</h3>
      
        <div class="feature ">
           
            <a href="" class="btn btn-primary">All</a>
            <a href="" class="btn btn-primary">vegetables</a>
            <a href="" class="btn btn-primary">Fruits</a>
            <a href="" class="btn btn-primary">Coffe & teas</a>
            <a href="" class="btn btn-primary">Meat</a>
        </div>
    </div>

    <div class="container-fluid d-flex ">
        <div class="card margin " style="width: 18rem;">
            <img src="/assets/logo.jpg" class="card-img-top img" alt="...">
            <div class="card-body">
              <h5 class="card-title">Peach</h5>
              <p class="card-text">10 iteam</p>
            </div>
        </div>
        <div class="card margin " style="width: 18rem;">
            <img src="/assets/logo.jpg" class="card-img-top img" alt="...">
            <div class="card-body">
              <h5 class="card-title">vegitable</h5>
              <p class="card-text">220 item</p>
            </div>
        </div>
        <div class="card margin " style="width: 18rem;">
            <img src="/assets/logo.jpg" class="card-img-top img" alt="...">
            <div class="card-body">
              <h5 class="card-title">strawberry</h5>
              <p class="card-text">10 iteam</p>
            </div>
        </div>
        <div class="card margin" style="width: 18rem;">
            <img src="/assets/logo.jpg" class="card-img-top img" alt="...">
            <div class="card-body">
              <h5 class="card-title">Apple</h5>
              <p class="card-text">40 iteam</p>
            </div>
        </div>
        <div class="card margin" style="width: 18rem;">
            <img src="/assets/logo.jpg" class="card-img-top img" alt="...">
            <div class="card-body">
              <h5 class="card-title">Apple</h5>
              <p class="card-text">40 iteam</p>
            </div>
        </div>
        <div class="card margin" style="width: 18rem;">
            <img src="/assets/logo.jpg" class="card-img-top img" alt="...">
            <div class="card-body">
              <h5 class="card-title">orange</h5>
              <p class="card-text">23 iteam</p>
            </div>
        </div>
        <div class="card margin " style="width: 18rem;">
            <img src="/assets/logo.jpg" class="card-img-top img" alt="...">
            <div class="card-body">
              <h5 class="card-title">potato</h5>
              <p class="card-text">3 iteam</p>
            </div>
        </div>
        <div class="card margin" style="width: 18rem;">
            <img src="/assets/logo.jpg" class="card-img-top img" alt="...">
            <div class="card-body">
              <h5 class="card-title">carrot</h5>
              <p class="card-text">9 iteam</p>
            </div>
        </div>
    </div>
</div><br>

  
  <!-- slidder -->
  <!-- <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/logo.jpg" class="d-block w-100 " alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/logo.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/logo.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev"  >
      <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
      <span class="visually-hidden" >Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> <br><br><br>
   -->