.logo{
    height: 50px;
    margin-left: -10px;
}
.left{
    float: left;
    margin-left: 1px;
}

.right{
margin-left: 100px;

}

p{
    margin: 1px;
}

.p1{
    font-size: 30px;
    color: rgb(21, 154, 92);
}
.p2{
    color: rgb(143, 135, 135);
}
// .search{
//     margin-right: 500px;
// }

.input{
    width: 300px;
}
.myCart{
    margin-left: 300px;
    
}
.logIn{
    margin-left: 30px;
    text-decoration: none;

}

.LOGIN{
    text-decoration: none;
}


























