<p>product-list works!</p>

<!-- product list -->
<div class="main-container d-flex product-list">
    <div class="container-fluid pro-li pro-li">
       <h2> top sell</h2>
        <div class="card pro-li-item" >
            <img src="/assets/logo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Orange 1KG</p>
              <span class = " fa fa-star checked "></span>  
              <span class = "fa fa-star checked"></span>  
              <span class = "fa fa-star checked"></span>  
              <span class = "fa fa-star checked"></span>   
              <span class = "fa fa-star unchecked"></span> 
              <p>$2</p>
            </div>
          </div>
     
     <div class="card pro-li-item" >
        <img src="/assets/logo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Orange 1KG</p>
          <span class = " fa fa-star checked "></span>  
          <span class = "fa fa-star checked"></span>  
          <span class = "fa fa-star checked"></span>  
          <span class = "fa fa-star checked"></span>   
          <span class = "fa fa-star unchecked"></span> 
          <p>$2</p>
        </div>
      </div>
      <div class="card pro-li-item" >
        <img src="/assets/logo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Orange 1KG</p>
          <span class = " fa fa-star checked "></span>  
          <span class = "fa fa-star checked"></span>  
          <span class = "fa fa-star checked"></span>  
          <span class = "fa fa-star checked"></span>   
          <span class = "fa fa-star unchecked"></span> 
          <div class=""></div>
          <p>$2</p>
        </div>
      </div>
    </div>

  
    
    <div class="container-fluid pro-li">
       <h2> Top Rated</h2>
        <div class="card pro-li-item" >
            <img src="/assets/logo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Orange 1KG</p>
              <span class = " fa fa-star checked "></span>  
              <span class = "fa fa-star checked"></span>  
              <span class = "fa fa-star checked"></span>  
              <span class = "fa fa-star checked"></span>   
              <span class = "fa fa-star unchecked"></span> 
              <p>$2</p>
            </div>
          </div>
     
    <div class="card pro-li-item" >
        <img src="/assets/logo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Orange 1KG</p>
          <span class = " fa fa-star checked "></span>  
          <span class = "fa fa-star checked"></span>  
          <span class = "fa fa-star checked"></span>  
          <span class = "fa fa-star checked"></span>   
          <span class = "fa fa-star unchecked"></span> 
          <p>$2</p>
        </div>
      </div>
      <div class="card pro-li-item" >
        <img src="/assets/logo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Orange 1KG</p>
          <span class = " fa fa-star checked "></span>  
          <span class = "fa fa-star checked"></span>  
          <span class = "fa fa-star checked"></span>  
          <span class = "fa fa-star checked"></span>   
          <span class = "fa fa-star unchecked"></span> 
          <p>$2</p>
        </div>
      </div>
    </div>
    
    <div class="container-fluid pro-li">
       <h2> Trending Item</h2>
        <div class="card pro-li-item" >
            <img src="/assets/logo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Orange 1KG</p>
              <span class = " fa fa-star checked "></span>  
              <span class = "fa fa-star checked"></span>  
              <span class = "fa fa-star checked"></span>  
              <span class = "fa fa-star checked"></span>   
              <span class = "fa fa-star unchecked"></span> 
              <p>$2</p>
            </div>
          </div>
     
    <div class="card pro-li-item" >
        <img src="/assets/logo.jpg" class="card-img-top" alt="...">
        <div class="card-body ">
          <p class="card-text">Orange 1KG</p>
          <span class = " fa fa-star checked "></span>  
          <span class = "fa fa-star checked"></span>  
          <span class = "fa fa-star checked"></span>  
          <span class = "fa fa-star checked"></span>   
          <span class = "fa fa-star unchecked"></span> 
          <p>$2</p>
        </div>
      </div>
      <div class="card pro-li-item" >
        <img src="/assets/logo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Orange 1KG</p>
          <span class = " fa fa-star checked "></span>  
          <span class = "fa fa-star checked"></span>  
          <span class = "fa fa-star checked"></span>  
          <span class = "fa fa-star checked"></span>   
          <span class = "fa fa-star unchecked"></span> 
          <p>$2</p>
        </div>
      </div>
    </div>
    
    <div class="container-fluid pro-li">
       <h2> Recenty Added</h2>
        <div class="card pro-li-item" >
            <img src="/assets/logo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Orange 1KG</p>
              <span class = " fa fa-star checked "></span>  
              <span class = "fa fa-star checked"></span>  
              <span class = "fa fa-star checked"></span>  
              <span class = "fa fa-star checked"></span>   
              <span class = "fa fa-star unchecked"></span> 
              <p>$2</p>
            </div>
          </div>
     
    <div class="card pro-li-item" >
        <img src="/assets/logo.jpg" class="card-img-top" alt="...">
        <div class="card-body ">
          <p class="card-text">Orange 1KG</p>
          <span class = " fa fa-star checked "></span>  
          <span class = "fa fa-star checked"></span>  
          <span class = "fa fa-star checked"></span>  
          <span class = "fa fa-star checked"></span>   
          <span class = "fa fa-star unchecked"></span> 
          <p>$2</p>
        </div>
      </div>
      <div class="card pro-li-item" >
        <img src="/assets/logo.jpg" class="card-img-top" alt="...">
        <div class="card-body ">
          <p class="card-text">Orange 1KG</p>
          <span class = " fa fa-star checked "></span>  
          <span class = "fa fa-star checked"></span>  
          <span class = "fa fa-star checked"></span>  
          <span class = "fa fa-star checked"></span>   
          <span class = "fa fa-star unchecked"></span> 
          <p>$2</p>
        </div>
      </div>
    </div>